<section class="youyan" id="comments">
  <div id="uyan_frame"></div>
  <script type="text/javascript">
	var uyan_config = {
	     'du':'xwang.space', 
	     'su':'xwang.space' 
	};
	</script>
  <script src="http://v2.uyan.cc/code/uyan.js?uid=2128995"></script>
</section>